.col1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "cpu"
    "cola-procesos";
  grid-area: col1;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "col1 memoria-logica ram disco"
    "col1 memoria-logica ram disco";
  height: calc(100vh - 120px);
  margin-left: 10px;
  margin-right: 10px;
}

.cola {
  grid-area: cola-procesos;
}

.cpu {
  grid-area: cpu;
}

.disco {
  grid-area: disco;
}

.memoria-logica {
  grid-area: memoria-logica;
}

.tabla-traduccion {
  grid-area: tabla-traduccion;
}

.ram {
  grid-area: ram;
}
