<div class="container">
    <mat-form-field appearance="outline">
        <mat-label>Cuanto de tiempo CPU</mat-label>
        <input matInput type="number" min="1" class="right-align" placeholder="1" [disabled]="iniciado" [(ngModel)]="cuanto">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tiempo de ciclo</mat-label>
        <input matInput type="number" min="1" class="right-align" placeholder="1" [disabled]="iniciado"  [(ngModel)]="tiempoCiclo">
        <span matSuffix>seg</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tamaño memoria principal</mat-label>
        <input matInput type="number" min="8" class="right-align" placeholder="4" [disabled]="iniciado"  [(ngModel)]="tamanoMemoria">
        <span matSuffix>kB</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tamaño páginas</mat-label>
        <input matInput type="number" min="1" class="right-align" placeholder="1" [disabled]="iniciado"  [(ngModel)]="tamanoPaginas">
        <span matSuffix>kB</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Reemplazo de páginas</mat-label>
        <mat-select [(value)]="algoritmo" [disabled]="iniciado">
            <mat-option value="fifo">FIFO</mat-option>
            <mat-option value="lru">LRU</mat-option>
            <mat-option value="mru">MRU</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-divider [vertical]="true" style="height: 40px; align-self: center"></mat-divider>

    <mat-form-field appearance="outline">
        <mat-label>Tamaño proceso</mat-label>
        <input matInput type="number" min="0" class="right-align" placeholder="0" [(ngModel)]="tamanoProceso">
        <span matSuffix>kB</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ciclos proceso</mat-label>
        <input matInput type="number" min="0" class="right-align" placeholder="0" [(ngModel)]="ciclosProceso">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Prioridad</mat-label>
        <mat-select [(value)]="prioridad">
            <mat-option value="0">Sin prioridad</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Cantidad de procesos</mat-label>
        <input matInput type="number" min="1" class="right-align" placeholder="1" [(ngModel)]="nProcesos">
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="agregarProceso()"><mat-icon>add</mat-icon> Agregar proceso(s)</button>

    <button *ngIf="!pausado" mat-flat-button color="warn" (click)="pausar()" [disabled]="!iniciado"><mat-icon>pause</mat-icon> Pausar</button>
    <button *ngIf="pausado" mat-flat-button color="primary" (click)="continuar()" [disabled]="!iniciado"><mat-icon>play_arrow</mat-icon> Continuar</button>
</div>

